.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*{
    font-family: "Courier New", "Garamond", serif;
}

body {
    background-color: floralwhite;
}

.querry {
    border: solid 2px darkcyan;
    background-color: beige;
    color: darkmagenta;
}

h1 {
  font-weight: bold;
}

#home {
  text-align: center;
  margin: 20px;
  padding: 5px;
}

#question {
    font-size: 1.2em;
    color: black;
}

#trivia div {
    margin: 20px;
    padding: 5px;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: green;
}

.navbar-custom {
  background-color: darkseagreen;
}